# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/WebLogin/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MatkakorttiMockito/.nb-gradle/
/viikko4/MatkakorttiMockito/build/
/viikko4/VerkkokauppaSpring/.nb-gradle/
/viikko4/VerkkokauppaSpring/build/
/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/IntJoukkoSovellus/build/
/viikko5/Tennis/.nb-gradle/
/viikko5/Tennis/build/
/viikko6/Laskin/.nb-gradle/
/viikko6/Laskin/build/